#team-members {
	padding-top: 2.5rem;
}

#relations {
	padding-top: 2.5rem;
}

#queries {
	padding-top: 2.5rem;
}

#ad-hoc {
	padding-top: 2.5rem;
}

img
{
  display: block;
  margin: 15px auto;
}

.center-text {text-align:center;}

.world-map-section {
	padding-bottom: 2.5rem;
}